<nav class="flex justify-between items-center w-full p-5">
  <a href={{ route('home') }}>Accueil</a>
  <a href={{ route('categories') }}>Catégories</a>
  <a href={{ route('contact')}}>Nous contacter</a>
</nav>
