@layout.main()

@slot('main')
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo numquam voluptatem facere quam, ducimus impedit eum. Iste adipisci sapiente perferendis, iure commodi quae? Eius nulla obcaecati nobis optio dicta facere distinctio accusantium iste eos eum illo, quae dolorem dolor esse quidem eligendi explicabo sint ducimus perferendis veritatis et. Nulla, ipsum.
@endslot
@end
