@layout.main()

@slot('main')
<main class="w-3/4 mx-auto">
  @include('components/partials/header')
  <div class="">
    @each(item in speakers)
    <p>{{ item.name }}</p>
    @end
  </div>
</main>
@endslot
@end
